.locationContainer{
    /*     background-color: rgba(27, 31, 34, 0.85); */
    /* 
        color: #ffffff; */
        border: 1px solid black;
        height: 90vh;
        width: 90%;
        display: flex;
        flex-direction: column;
/*         justify-content: space-between; */
    }
    
.locationContainer h1 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 5% 1rem 5%;
    margin-top: 10%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
}

.close {
    /*     color: #ffffff;
        display: block;
    
        cursor: pointer; */
        position: absolute;
    
    }
/* overflow-y: scroll; */

.locationRow {
    display: flex;
    align-items: center;
    justify-content: space-around;
}