.nav-container{
    display:flex;
    color: #ffff;
    justify-content: center;
}
.navMenuItems {
    display:flex;
    flex-direction: column;
    justify-content: left;
    padding: 20px;
}

.navMenuItems li {
    border: 1px solid;
    display: block;
    min-width: 7.5rem;
    height: 2.75rem;
    line-height: 2.75rem;
    padding: 0 1.25rem 0 1.45rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-style: bold;
    border-radius: 4px;
}